"{{ domain }}" {
				gzip
				root /var/www/html
				tls {{ user_mail }}
}

"metrics.{{ domain }}" {
				gzip
				basicauth	/					{{ metrics_basicauth_user }} 	{{ metrics_basicauth_password }}
				proxy		/					netdata:19999	{
				transparent
				}
				tls {{ user_mail }}
}

"plex.{{ domain }}" {
				proxy 		/					plex:32400		{
				transparent
				}
				timeouts 2m
				tls {{ user_mail }}
}

"files.{{ domain }}"	{
				gzip
				basicauth	/					{{ files_basicauth_user }}		{{ files_basicauth_password }}
				root		/var/www/files
				browse
				tls 		{{ user_mail }}
}

"portainer.{{ domain }}" 	{
				proxy		/					portainer:9000	{
				transparent
				}
				timeouts 2m
				tls {{ user_mail }}
}

"radarr.{{ domain }}" {
				gzip
				proxy 		/					radarr:7878		{
				transparent
				}
				timeouts 2m
				tls {{ user_mail }}
}

"sonarr.{{ domain }}" {
				gzip
				proxy 		/					sonarr:8989		{
				transparent
				}
				timeouts 2m
				tls {{ user_mail }}
}

"bazarr.{{ domain }}" {
				gzip
				proxy 		/					bazarr:6767		{
				transparent
				}
				timeouts 2m
				tls {{ user_mail }}
}

"ombi.{{ domain }}" {
				gzip
				proxy 		/					ombi:3579		{
				transparent
				}
				timeouts 2m
				tls {{ user_mail }}
}

"tautulli.{{ domain }}" {
				gzip
				proxy 		/					tautulli:8181		{
				transparent
				}
				timeouts 2m
				tls {{ user_mail }}
}

"rtorrent.{{ domain }}"  {
				gzip
				basicauth	/					{{ rutorrent_basicauth_user }} 		{{ rutorrent_basicauth_password }}
				proxy 		/					rtorrent:80		{
				transparent
				}
				timeouts 2m
				tls {{ user_mail }}
}