<Config>
  <LogLevel>Info</LogLevel>
  <Port>7878</Port>
  <UrlBase>{{ radarr_root }}</UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>d521dc9bfe8b4b4d9bff7ff747284be1</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <Branch>develop</Branch>
</Config>