[global]
  checkNewVersion = true
  sendAnonymousUsage = false

[entryPoints]
  [entryPoints.web]
    address = ":80"

    [entryPoints.web.http]
    [entryPoints.web.http.redirections]
      [entryPoints.web.http.redirections.entryPoint]
        to = "websecure"
        scheme = "https"

  [entryPoints.websecure]
    address = ":443"

  [entryPoints.plex]
    address = ":32400/tcp"

[api]
  dashboard = false

[providers]
  [providers.docker]
    endpoint = "unix:///var/run/docker.sock"
    watch = true
    exposedByDefault = false
    swarmMode = false

[log]
  level = "INFO"

[certificatesResolvers]
  [certificatesResolvers.cloudflare]
    [certificatesResolvers.cloudflare.acme]
      email = "{{ user_mail }}"
      caServer = "https://acme-staging-v02.api.letsencrypt.org/directory" # FIXME

      storage = "acme.json"

      [certificatesResolvers.cloudflare.acme.dnsChallenge]
      provider = "cloudflare"
      resolvers = ["1.1.1.1:53"]

# [metrics]
#   [metrics.datadog]
#     address = "foobar"
#     pushInterval = "42s"
#     addEntryPointsLabels = true
#     addServicesLabels = true
